:root {
	--bg: rgb(34, 40, 49);
	--text: rgb(238, 238, 238);
	--accent: rgb(0, 173, 181);
	--accent-hover: rgb(3, 200, 211);
	--accent-text: rgb(57, 62, 70);
	--fs-xl: clamp(1rem, 3vw + 1rem, 3rem);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--text);
	font-family: "Comfortaa", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
.container {
	position: relative;
	display: flex;
	height: 100svh;
	min-width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--bg);
}

.title {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	font-weight: 400;
	font-size: var(--fs-xl);
	top: 2rem;
	left: auto;
	cursor: pointer;
	filter: drop-shadow(0 0 3px var(--text));
}

.title:hover {
	animation: textGlow 1s ease-in-out;
}

.attendance-calc {
	min-width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 1rem;
    backdrop-filter: brightness(90%) blur(5px);
	border-radius: 1rem;
    padding: 2rem;
}
.input-wrapper > label,
.input-wrapper > input {
	padding: .4rem .5rem;
	font-size: 1rem;
}
.input-wrapper > input {
	background: transparent;
	border: none;
	border-bottom: 1px solid var(--accent);
}
.input-wrapper > input:focus {
	outline: none;
}

.button {
    border: transparent;
    background: var(--accent);
	color: var(--accent-text);
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 2rem;
    font-weight: 700;
}
.button:hover {
    background-color: var(--accent-hover);
}
.result {
    margin-top: 1rem;
    width: 20rem;
    padding: 1rem .4rem;
    text-align: center;
}

@keyframes textGlow {
	0%,
	15%,
	25%,
	60%,
	70%,
	80% {
		filter: drop-shadow(0 0 0 var(--text));
	}

	10%,
	20%,
	30%,
	65%,
	75%,
	100% {
		filter: drop-shadow(0 0 3px var(--text));
	}
}

.text-glow-animation {
	animation: textGlow 1s ease-in-out;
}
